@import "shared/styles/index.scss";

.root {
  .countInfoLabel {
    font-size: 16px;
    margin: 8px 0;
  }

  .table {
    min-width: 550px;

    .tr {
      @include appearElement;

      .tdBox {
        display: flex;
        gap: 10px;
        @include appearElement;
      }
    }
  }
}
