@import "shared/styles/index.scss";

.root {
  .table {
    min-width: 550px;

    .tr {
      @include appearElement;

      .tdBox {
        display: flex;
        gap: 10px;
        @include appearElement;
      }
    }
  }
}
