.root {
  display: block;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: blue;

  &:hover {
    text-decoration: underline;
  }

  &_error {
    color: red;
  }
}
